body *, h1, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: linear-gradient(to bottom, #f1c40f, #e74c3c);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70%;
  width: 80%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.addtodo {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.addtodo input {
  height: 60%;
  width: 50%;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.addtodo button {
  margin-left: 15px;
  border: none;
  height: 60%;
  background-color: #f1c40f;
  width: 20%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.todos {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos .item {
  cursor: pointer;
  width: 80%;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos .crossbutton {
  background-color: rgb(236, 53, 53);
  color: #fff;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos .fa-times {
  font-size: 18px;
}

.todos .item:hover {
  background-color: aquamarine;
}

.todos .title {
  display: flex;
  align-items: center;
}

.todos .title input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.todos .title p {
  margin-left: 15px;
  font-size: 20px;
}